.aboutWrapper {
  margin: 0;
  padding: 0;
  background-color: white;
  overflow: hidden;
  position: relative;
}

.aboutTitle,
.aboutText {
  font-weight: 700;
  color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 1.5px;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}

.backDrop {
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.616);
}

.aboutText {
  font-size: 28px;
}

.colWrapper {
  background-image: url("./../../assets/aboutHero.jpg");
  position: relative;
}

.firstCol {
  position: relative;
  margin-top: -10px;
  padding-bottom: 10px;
}

.secondCol {
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 40px;
  text-align: right;
  position: relative;
}
